<?xml version="1.0" encoding="utf-8"?>
<config>
    <fieldset name="component"
        label="COM_SPORTSVIDEO_COMPONENT_LABEL"
        description="COM_SPORTSVIDEO_COMPONENT_DESC"
    >
    </fieldset>
    <fieldset name="permissions"
        description="JCONFIG_PERMISSIONS_DESC"
        label="JCONFIG_PERMISSIONS_LABEL"
    >
        <field name="rules" type="rules"
            component="com_sportsvideo"
            filter="rules"
            validate="rules"
            label="JCONFIG_PERMISSIONS_LABEL"
            section="component" />
        
        <!-- options --> 
        <field name="target" type="list"
            default="0"
            description="COM_SPORTSVIDEO_FIELD_TARGET_DESC"
            label="COM_SPORTSVIDEO_FIELD_TARGET_LABEL"
            >
            <option value="0">JBROWSERTARGET_PARENT</option>
            <option value="1">JBROWSERTARGET_NEW</option>
            <option value="2">JBROWSERTARGET_POPUP</option>
            <option value="3">JBROWSERTARGET_MODAL</option>
        </field>        
    </fieldset>
</config>